################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.vs/
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
logs/
*.user
/packages
/AdventOfCode2023/Inputs/
/AdventOfCode2024/Inputs/
